body {
    text-align: center;
    background-color: rgb(94, 255, 135);
}

h1, footer {
    font-family: sans-serif;
}

h1 {
    font-size: 7rem;
    color: rgb(0, 0, 0);
}

footer,a {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.set {
    margin: 10%;
}

.pressed {
    box-shadow: 0 3px 4px 0 floralwhite;
    opacity: 50%;
}

.red {
    color: crimson;
}

.drum {
    background-image: squeeb.jpg );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}
